#ignore list

#Mac
*.DS_Store
.DS_Store

#eclipse project
*.project
project
*.pydevproject
.pydevproject


__pycache__



#save image
media/save1/MODE1
media/save1/MODE2
media/save2/MODE1
media/save2/MODE2

Media